# Gradle-specific files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar # Keep the Gradle wrapper JAR in version control
gradle-app.setting

# Kotlin/Java build output
out/
bin/

# Kotlin compiler daemon session files
.kotlin/sessions/


# IntelliJ IDEA / Android Studio
.idea/
*.iml
*.ipr
*.iws
.idea_modules/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries/
.idea/**/shelf/
.idea/**/vcs.xml
.idea/**/modules.xml
.idea/libraries/
.idea/**/gradle.xml

# OS-specific files
.DS_Store
Thumbs.db
*.swp

# Logs and reports
*.log
*.pid
*.hprof
/test-results
/test-output
/test-logs
/reports

# IDE-specific caches
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/shelf/
*.iml
*.ipr
